html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

::selection {
	background: #cccccc;
}

textarea:nth-child(3) {
	height: initial !important;
}

label {
	left: 0;
}

.flag {
	float:left;
	height:1em;
	margin-right:1em;
}